In [2]:
import pandas as pd
import numpy as np

In [3]:
# Load # dataset
heartrate_seconds = pd.read_csv('heartrate_seconds_merged.csv')

In [4]:
print(heartrate_seconds.head())

           Id                  Time  Value
0  2022484408  4/12/2016 7:21:00 AM     97
1  2022484408  4/12/2016 7:21:05 AM    102
2  2022484408  4/12/2016 7:21:10 AM    105
3  2022484408  4/12/2016 7:21:20 AM    103
4  2022484408  4/12/2016 7:21:25 AM    101

In [5]:
print(heartrate_seconds.shape)

(2483658, 3)

In [6]:
heartrate_seconds.isnull().sum()

Id       0
Time     0
Value    0
dtype: int64

In [7]:
heartrate_seconds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483658 entries, 0 to 2483657
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Time    object
 2   Value   int64
dtypes: int64(2), object(1)
memory usage: 56.8+ MB

In [8]:
df = pd.read_csv("heartrate_seconds_merged.csv",index_col=0)

In [9]:
df.shape

(2483658, 2)

In [10]:
df.isnull().sum()

Time     0
Value    0
dtype: int64

In [11]:
df.info

<bound method DataFrame.info of                             Time  Value
Id
2022484408  4/12/2016 7:21:00 AM     97
2022484408  4/12/2016 7:21:05 AM    102
2022484408  4/12/2016 7:21:10 AM    105
2022484408  4/12/2016 7:21:20 AM    103
2022484408  4/12/2016 7:21:25 AM    101
...                          ...    ...
8877689391  5/12/2016 2:43:53 PM     57
8877689391  5/12/2016 2:43:58 PM     56
8877689391  5/12/2016 2:44:03 PM     55
8877689391  5/12/2016 2:44:18 PM     55
8877689391  5/12/2016 2:44:28 PM     56

[2483658 rows x 2 columns]>

In [12]:
# Define a function to split the ActivityHour column into ActivityDay and ActivityTime
def split_activity_hour(df, column_name='Time'):
    # Split the column into two parts: Date and Time
    split_columns = df[column_name].str.split(' ', expand=True)
    # Assign the split columns to the dataframe
    df['ActivityDay'] = pd.to_datetime(split_columns[0])  # Convert to datetime format
    df['ActivityTime'] = split_columns[1]
    # Drop the original ActivityHour column
    df.drop(column_name, axis=1, inplace=True)
    return df

In [13]:
# Apply the function to each dataset
df = split_activity_hour(df)
df.head()

            Value ActivityDay ActivityTime
Id
2022484408     97  2016-04-12      7:21:00
2022484408    102  2016-04-12      7:21:05
2022484408    105  2016-04-12      7:21:10
2022484408    103  2016-04-12      7:21:20
2022484408    101  2016-04-12      7:21:25

In [14]:
# Standardize column names
df.columns = df.columns.str.lower().str.replace(r'([a-z])([A-Z])', r'\1_\2').str.replace(r'[^a-z0-9_]', '', regex=True)

# Display the first few rows of the dataframe to verify the new column names
df.head()

C:\Users\nishant32\AppData\Local\Temp\ipykernel_15012\3852263842.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.lower().str.replace(r'([a-z])([A-Z])', r'\1_\2').str.replace(r'[^a-z0-9_]', '', regex=True)

            value activityday activitytime
Id
2022484408     97  2016-04-12      7:21:00
2022484408    102  2016-04-12      7:21:05
2022484408    105  2016-04-12      7:21:10
2022484408    103  2016-04-12      7:21:20
2022484408    101  2016-04-12      7:21:25

In [15]:
# Rearrange the position of 'activityday' column to be adjacent to 'id' column
cols = list(df.columns)
cols.insert(0, cols.pop(cols.index('activityday')))  # Move 'activityday' and 'acivitytime' next to 'id'
cols.insert(1, cols.pop(cols.index('activitytime'))) 
df = df[cols]

# Display the first few rows of the dataframe to verify the rearrangement
df.head()

           activityday activitytime  value
Id
2022484408  2016-04-12      7:21:00     97
2022484408  2016-04-12      7:21:05    102
2022484408  2016-04-12      7:21:10    105
2022484408  2016-04-12      7:21:20    103
2022484408  2016-04-12      7:21:25    101

In [16]:
# Convert 'activityday' and to datetime format
df['activityday'] = pd.to_datetime(df['activityday'], format='%d-%m-%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2483658 entries, 2022484408 to 8877689391
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   activityday   datetime64[ns]
 1   activitytime  object
 2   value         int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 75.8+ MB

In [17]:
# chek if is there any duplicate values in dataset
duplicates = duplicates = df.duplicated().sum()
duplicates

134066

In [18]:
# Remove duplicate rows, keeping the first occurrence of each duplicate
df = df.drop_duplicates()

In [24]:
heartrate_seconds_EDA = pd.read_csv("heartrate_seconds_merged.csv", index_col=0)
heartrate_seconds_EDA.head()

                            Time  Value
Id
2022484408  4/12/2016 7:21:00 AM     97
2022484408  4/12/2016 7:21:05 AM    102
2022484408  4/12/2016 7:21:10 AM    105
2022484408  4/12/2016 7:21:20 AM    103
2022484408  4/12/2016 7:21:25 AM    101