In [2]:
import pandas as pd
import numpy as np

In [3]:
weight_login = pd.read_csv('WeightLogInfo_merged.csv')

In [4]:
print (weight_login.head())

           Id                   Date    WeightKg  WeightPounds   Fat  \
0  1503960366   5/2/2016 11:59:59 PM   52.599998    115.963147  22.0
1  1503960366   5/3/2016 11:59:59 PM   52.599998    115.963147   NaN
2  1927972279   4/13/2016 1:08:52 AM  133.500000    294.317120   NaN
3  2873212765  4/21/2016 11:59:59 PM   56.700001    125.002104   NaN
4  2873212765  5/12/2016 11:59:59 PM   57.299999    126.324875   NaN

         BMI  IsManualReport          LogId
0  22.650000            True  1462233599000
1  22.650000            True  1462319999000
2  47.540001           False  1460509732000
3  21.450001            True  1461283199000
4  21.690001            True  1463097599000

In [5]:
print(weight_login.shape)

(67, 8)

In [6]:
weight_login.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              67 non-null     int64
 1   Date            67 non-null     object
 2   WeightKg        67 non-null     float64
 3   WeightPounds    67 non-null     float64
 4   Fat             2 non-null      float64
 5   BMI             67 non-null     float64
 6   IsManualReport  67 non-null     bool
 7   LogId           67 non-null     int64
dtypes: bool(1), float64(4), int64(2), object(1)
memory usage: 3.9+ KB

In [7]:
df = pd.read_csv('WeightLogInfo_merged.csv')

In [8]:
df.shape

(67, 8)

In [9]:
# check if is there any null values in the dataset
df.isnull().sum()

Id                 0
Date               0
WeightKg           0
WeightPounds       0
Fat               65
BMI                0
IsManualReport     0
LogId              0
dtype: int64

In [10]:
# fat feature has some null values, we need to drop those
df['Fat'] = df['Fat'].dropna()

In [11]:
# Define a function to split the ActivityHour column into ActivityDay and ActivityTime
def split_activity_hour(df, column_name='Date'):
    # Split the column into two parts: Date and Time
    split_columns = df[column_name].str.split(' ', expand=True)
    # Assign the split columns to the dataframe
    df['ActivityDay'] = pd.to_datetime(split_columns[0])  # Convert to datetime format
    df['ActivityTime'] = split_columns[1]
    # Drop the original ActivityHour column
    df.drop(column_name, axis=1, inplace=True)
    return df

In [12]:
# Apply the function to each dataset
df = split_activity_hour(df)
df.head()

,Id,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId,ActivityDay,ActivityTime
0,1503960366,52.599998,115.963147,22.0,22.650000,True,1462233599000,2016-05-02,11:59:59
1,1503960366,52.599998,115.963147,NaN,22.650000,True,1462319999000,2016-05-03,11:59:59
2,1927972279,133.500000,294.317120,NaN,47.540001,False,1460509732000,2016-04-13,1:08:52
3,2873212765,56.700001,125.002104,NaN,21.450001,True,1461283199000,2016-04-21,11:59:59
4,2873212765,57.299999,126.324875,NaN,21.690001,True,1463097599000,2016-05-12,11:59:59

In [13]:
# Standardize column names
df.columns = df.columns.str.lower().str.replace(r'([a-z])([A-Z])', r'\1_\2').str.replace(r'[^a-z0-9_]', '', regex=True)

# Display the first few rows of the dataframe to verify the new column names
df.head()

C:\Users\nishant32\AppData\Local\Temp\ipykernel_2616\3852263842.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.lower().str.replace(r'([a-z])([A-Z])', r'\1_\2').str.replace(r'[^a-z0-9_]', '', regex=True)

,id,weightkg,weightpounds,fat,bmi,ismanualreport,logid,activityday,activitytime
0,1503960366,52.599998,115.963147,22.0,22.650000,True,1462233599000,2016-05-02,11:59:59
1,1503960366,52.599998,115.963147,NaN,22.650000,True,1462319999000,2016-05-03,11:59:59
2,1927972279,133.500000,294.317120,NaN,47.540001,False,1460509732000,2016-04-13,1:08:52
3,2873212765,56.700001,125.002104,NaN,21.450001,True,1461283199000,2016-04-21,11:59:59
4,2873212765,57.299999,126.324875,NaN,21.690001,True,1463097599000,2016-05-12,11:59:59

In [14]:
# Rearrange the position of 'activityday' column to be adjacent to 'id' column
cols = list(df.columns)
cols.insert(0, cols.pop(cols.index('activityday')))  # Move 'activityday' and 'acivitytime' next to 'id'
cols.insert(1, cols.pop(cols.index('activitytime'))) 
df = df[cols]

# Display the first few rows of the dataframe to verify the rearrangement
df.head()

,activityday,activitytime,id,weightkg,weightpounds,fat,bmi,ismanualreport,logid
0,2016-05-02,11:59:59,1503960366,52.599998,115.963147,22.0,22.650000,True,1462233599000
1,2016-05-03,11:59:59,1503960366,52.599998,115.963147,NaN,22.650000,True,1462319999000
2,2016-04-13,1:08:52,1927972279,133.500000,294.317120,NaN,47.540001,False,1460509732000
3,2016-04-21,11:59:59,2873212765,56.700001,125.002104,NaN,21.450001,True,1461283199000
4,2016-05-12,11:59:59,2873212765,57.299999,126.324875,NaN,21.690001,True,1463097599000

In [15]:
# Convert 'activityday' and to datetime format
df['activityday'] = pd.to_datetime(df['activityday'], format='%d-%m-%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   activityday     67 non-null     datetime64[ns]
 1   activitytime    67 non-null     object
 2   id              67 non-null     int64
 3   weightkg        67 non-null     float64
 4   weightpounds    67 non-null     float64
 5   fat             2 non-null      float64
 6   bmi             67 non-null     float64
 7   ismanualreport  67 non-null     bool
 8   logid           67 non-null     int64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 4.4+ KB

In [16]:
# chek if is there any duplicate values in dataset
duplicates = duplicates = df.duplicated().sum()
duplicates

0

In [10]:
weight_login_EDA = pd.read_csv("WeightLogInfo_merged.csv", index_col=0)
weight_login_EDA.head()

,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
Id,,,,,,,
1503960366,5/2/2016 11:59:59 PM,52.599998,115.963147,22.0,22.650000,True,1462233599000
1503960366,5/3/2016 11:59:59 PM,52.599998,115.963147,NaN,22.650000,True,1462319999000
1927972279,4/13/2016 1:08:52 AM,133.500000,294.317120,NaN,47.540001,False,1460509732000
2873212765,4/21/2016 11:59:59 PM,56.700001,125.002104,NaN,21.450001,True,1461283199000
2873212765,5/12/2016 11:59:59 PM,57.299999,126.324875,NaN,21.690001,True,1463097599000